/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

section {
    padding: 100px 0;
    min-height: 100vh;
    text-align: center;
}

/* Navigation Menu */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #525457;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar ul {
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    padding: 15px 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

/* Hover Effect */
.navbar ul li a:hover {
    color: #f39c12;
    font-weight: bold;
}

/* Scroll Effect: Change background color when scrolled */
.scrolled {
    background-color: #444; /* Darker background when scrolling */
}

/* Style for sections */
#home { background-color: hsl(310, 61%, 76%); }
#about { background-color: #e67e22; }
#services { background-color: #16a085; }
#contact { background-color: #2980b9; }
